.button {
  appearance: button;
  background-color: #84beee;
  border: 1px solid #84beee;
  border-radius: 8px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Graphik, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 1.15;
  overflow: visible;
  padding: 12px 16px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  margin: 15px;
}

.button:disabled {
  opacity: 0.5;
}

.button:focus {
  outline: 0;
}

.button:hover {
  background-color: #ccc;
  border-color: #ccc;
}

.button:active {
  background-color: #ccc;
  border-color: #ccc;
}
