.card {
  background: white;
  display: block;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

ul {
  list-style-type: none;
}

img {
  width: 75%;
  display: block;
  margin: 0 auto;
}
